.team-card-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 3 / 4;
  background-color: var(--secondary);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  font-family: "Noto Sans", sans-serif;
  color: white;
  justify-content: center;
  transition: transform 0.1s ease-out;
}

.team-card-image {
  display: unset;
  position: absolute !important;
  height: 100% !important;
  max-width: unset;
  top: 50% !important;
  left: 50% !important;
  z-index: 0 !important;
  transform: translate(-50%, -50%) !important;
}

.team-card-info-wrapper {
  width: 100%;
  height: 40%;
  padding: 1rem;
  display: flex;
  background: linear-gradient(
    180deg,
    transparent,
    #0508165d,
    #050816d5,
    var(--secondary)
  );
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.team-card-text {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.team-card-name {
  position: relative;
  font-size: 1.05rem;
  z-index: 4;
}

.team-card-desgn {
  width: fit-content;
  position: relative;
  font-size: 0.75rem;
  z-index: 0;
}

.team-card-social {
  padding-top: 1rem;
  padding-inline: 0.5rem;
  /* background: var(--secondary-alpha); */
  /* padding: 0.5rem; */
  border-radius: 25px;
  position: relative;
}

.team-card-social svg {
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  /* border: 2px solid var(--secondary); */
}
