/* Hamburger.module.css */

.hamburger {
  width: 25px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
  flex-shrink: 0;
}

.line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 0px;
  transform-origin: center;
}

@media (max-width: 640px) {
  .hamburger {
    width: 20px;
    height: 12px;
  }
  .line {
    height: 4px;
  }
}
